html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
html {
  height: 101%;
  font-size: 62.5%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
img,
ol,
ul {
  list-style: none;
}
video {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
strong {
  font-weight: bold;
}
input {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
  color: #fff;
  background: #000;
  background: url(../images/bg.jpg) center center no-repeat #052438;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
  font-size: 7.2rem;
  line-height: 86px;
  line-height: 8.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  h1 {
    font-size: 100px;
    font-size: 10rem;
    line-height: 120px;
    line-height: 12rem;
  }
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 28px;
  line-height: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}
p {
  width: 100%;
  margin: 0 auto;
  float: none;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem;
  text-align: center;
  padding: 5px 20px 10px 20px;
  opacity: 0.8;
}
@media (min-width: 600px) {
  p {
    max-width: 340px;
  }
}
a,
a:visited {
  color: #00a99d;
  font-weight: 700;
}
a:hover {
  color: #15e8d3;
}
/*--HEADER--*/
.header {
  width: 100%;
  float: left;
  overflow: hidden;
  text-align: center;
  padding: 30px 20px 10px 20px;
}
.header h2 {
  padding: 20px 0;
}
.header h2.dark {
  margin: 20px 0 10px 0;
  padding: 20px;
}
.header span {
  display: block;
  background: #000;
  padding: 10px 20px;
}
@media (min-width: 600px) {
  .header span {
    display: inline;
  }
}
/*--GRAPHS--*/
.graphs {
  width: 100%;
  float: left;
  overflow: hidden;
  padding: 20px;
}
.graphs li {
  display: inline;
  width: 100%;
  float: left;
  position: relative;
  padding: 10px 0;
}
@media (min-width: 700px) {
  .graphs li {
    width: 50%;
    padding: 0 20px 20px 20px;
  }
}
@media (min-width: 1000px) {
  .graphs li {
    width: 33.33%;
  }
}
.graphs h3 {
  padding: 0 0 5px 0;
}
.line {
  width: 100%;
  float: left;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}
.outside {
  width: 100%;
  float: left;
  position: relative;
  height: 80px;
}
.outside iframe {
  width: 100%;
  height: 80px;
}
.temperature {
  width: 100%;
  height: 250px;
  background: rgba(255, 255, 255, 0.1);
}
.humidity {
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  height: 100px;
}
/*--FOOTER--*/
.footer {
  width: 100%;
  float: left;
  position: relative;
  padding: 0 20px 70px 20px;
}
@media (min-width: 750px) {
  .footer {
    padding: 0 20px 20px 20px;
  }
}
.footer h4 {
  font-family: 'Muli', sans-serif;
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 32px;
  line-height: 3.2rem;
  text-align: center;
  text-transform: none;
}
.ruuvi {
  width: 160px;
  height: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: url(../svg/fallback/ruuvi-logo.png) left center no-repeat;
  background-image: url(../svg/ruuvi-logo.svg), none;
  background-size: auto 100%;
  text-indent: -9999px;
}
@media (min-width: 600px) {
  .ruuvi {
    height: 30px;
  }
}
@media (min-width: 700px) {
  .ruuvi {
    left: 40px;
  }
}
@media (min-width: 750px) {
  .ruuvi {
    bottom: auto;
    top: 10px;
  }
}
.slush {
  width: 130px;
  height: 30px;
  position: absolute;
  bottom: 15px;
  right: 20px;
  background: url(../images/slush-logo.png) right center no-repeat;
  background-size: auto 100%;
  text-indent: -9999px;
}
@media (min-width: 600px) {
  .slush {
    height: 40px;
  }
}
@media (min-width: 700px) {
  .slush {
    right: 40px;
  }
}
@media (min-width: 750px) {
  .slush {
    bottom: auto;
    top: 5px;
  }
}
